body {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    width: 2048px;
    margin-left: -1024px;
  	text-algin:center;
}

.date {
    position: absolute;
    margin: 5px 0 0 800px;
    font-style: italic;
    font-size:10px;
}